<?xml version="1.0" encoding="utf-8" ?>
<!--configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!-add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /->
            <!-add input="{REQUEST_URI}" pattern="^/(api)" negate="true" /->
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration-->
<configuration>
  <system.web>
    <rewrite>
      <rules>
        <rule name="angular routes" stopProcessing="true">
          <match url="(index\.html|.*\.bundle\.js|.*\.bundle\.css|favicon.ico)" negate="true" />
          <action type="Rewrite" url="index.html" />
          <!--<action type="None" />-->
        </rule>
        <!--<rule name="routes">-->
        <!--<match url="(.*)" />-->
        <!--<action type="Rewrite" url="index.html" />-->
        <!--</rule>-->
      </rules>
    </rewrite>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="angular routes" stopProcessing="true">
          <match url="(index\.html|.*\.bundle\.js|.*\.bundle\.css|favicon.ico)" negate="true" />
          <action type="Rewrite" url="/index.html" />
          <!--<action type="None" />-->
        </rule>
        <!--<rule name="routes">-->
        <!--<match url="(.*)" />-->
        <!--<action type="Rewrite" url="index.html" />-->
        <!--</rule>-->
      </rules>
    </rewrite>
  </system.webServer>
</configuration>

