<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="angular routes" stopProcessing="true">
          <match url="(index\.html|.*\.bundle\.js|.*\.bundle\.css|favicon\.ico)" negate="true" />
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
